<!DOCTYPE html>
<html>
    <input type="hidden" id="num"value=<%=num%>>
    <input type="hidden" id="id"value=<%=id%>>
    <input type="hidden" id="ip"value=<%=ip%>>
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><script src="./0/files/vddosw3data.js"></script>
</head>
<body>
<div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Check your browser...</title>
<link rel="stylesheet" href="./0/files/styl.css">
<link rel="stylesheet" href="./0/files/font.css"> 
<div class="react-loader">
 <div class="react-loader__left-gradient-wrapper"> 
 <div class="react-loader__left-small-gradient"></div> 
 <div class="react-loader__left-big-gradient">
 </div> </div> <div class="react-loader__right-gradient-wrapper"> 
 <div class="react-loader__right-big-gradient">
 </div> 
 <div class="react-loader__right-small-gradient">
 </div>
 </div>
 <div class="react-loader__main-information">
 <p class="react-loader__title"><br></p>
 <p class="react-loader__description"><img class="react-loader__description-smile" src="./0/files/23.png"></p> 
 </div> <a class="react-loader__copyright" href="https://www.react.su/" target="_blank">DDoS protection by React <img class="react-loader__copyright-smile" src="./0/files/23.png"></a>
 </div> <script src="./0/files/srcc.js">
 </script> 
</div>
<noscript
h1 style="text-align:center;color:red;">
<strong>Please turn JavaScript on and reload the page.</strong>
</h1>
</noscript>
<script>
w3IncludeHTML(true);
</script>
<script type="text/javascript" src="./0/files/aes.js">
</script>
<script>
localStorage.setItem('id',document.querySelector('#id').value)
localStorage.setItem('ip',document.querySelector('#ip').value)
localStorage.setItem('num',document.querySelector('#num').value)
var _0x8b02=["\x70\x75\x73\x68","\x72\x65\x70\x6C\x61\x63\x65","\x6C\x65\x6E\x67\x74\x68","\x63\x6F\x6E\x73\x74\x72\x75\x63\x74\x6F\x72","","\x30","\x74\x6F\x4C\x6F\x77\x65\x72\x43\x61\x73\x65","ba28d9832c3bb0d34c32a1f9b0acc996","cc0c28fc3c3cba426c39d4bac26d1e0a","c733e9c7abfe9178827a6542d3cb7398","\x63\x6F\x6F\x6B\x69\x65","\x52\x33\x41\x43\x54\x4C\x42\x3D","\x64\x65\x63\x72\x79\x70\x74","\x3B\x20\x65\x78\x70\x69\x72\x65\x73\x3D\x54\x68\x75\x2C\x20\x33\x31\x2D\x44\x65\x63\x2D\x33\x37\x20\x32\x33\x3A\x35\x35\x3A\x35\x35\x20\x47\x4D\x54\x3B\x20\x70\x61\x74\x68\x3D\x2F"];function toNumbers(_0x5cc1x2){var _0x5cc1x3=[];_0x5cc1x2[_0x8b02[1]](/(..)/g,function(_0x5cc1x2){_0x5cc1x3[_0x8b02[0]](parseInt(_0x5cc1x2,16))});return _0x5cc1x3}function toHex(){for(var _0x5cc1x2=1== arguments[_0x8b02[2]]&& arguments[0][_0x8b02[3]]== Array?arguments[0]:arguments,_0x5cc1x3=_0x8b02[4],_0x5cc1x5=0;_0x5cc1x5< _0x5cc1x2[_0x8b02[2]];_0x5cc1x5++){_0x5cc1x3+= (16> _0x5cc1x2[_0x5cc1x5]?_0x8b02[5]:_0x8b02[4])+ _0x5cc1x2[_0x5cc1x5].toString(16)};return _0x5cc1x3[_0x8b02[6]]()}var a=toNumbers(_0x8b02[7]),b=toNumbers(_0x8b02[8]),c=toNumbers(_0x8b02[9]);document[_0x8b02[10]]= _0x8b02[11]+ toHex(slowAES[_0x8b02[12]](c,2,a,b))+ _0x8b02[13]
setTimeout(()=>{location.replace(`./${document.querySelector('#num').value}/index.html`)}, 4000);</script>

<center>
<br>
<br>
<center>

</center></center></body></html>